@font-face {
    font-family: 'ralewaybold';
    src: url('../fonts/raleway-bold-webfont.woff2') format('woff2'),
         url('../fonts/raleway-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}





@font-face {
    font-family: 'ralewayregular';
    src: url('../fonts/raleway-regular-webfont.woff2') format('woff2'),
         url('../fonts/raleway-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

} 

* {
  font-family: 'ralewayregular', Arial, sans-serif;
}

/*_______________ *General* _________________*/
.container1, .slider-container, .input-box-container, .price-container, .footer-container{
    width: 100%;
    margin: 0 auto;
}


.box-container, .footer{
    position: relative;
    width: 1240px;
    margin: 0 auto;
}

.bold-txt{
    font-family: 'ralewaybold', Arial, sans-serif;
}

.upper-txt{
    text-transform: uppercase;
}

.cap-txt{
    text-transform: capitalize;
}

.wide-txt {
    letter-spacing: 1px;
}

sup {
    font-size: 0.43em;
    vertical-align: 0.9em;
}

.green-bgn{
    background: #20B2AA;
}

.green-txt{
    color: #20B2AA;
}
/*________________ *Header* _________________*/
.container1{
    background: black;
    color: white;
    padding: 5px;
}

/*Logo*/
.logo, .menu-nav{
    font-size: 16px;

}

.logo{
    margin-left: 65px;
    padding: 5px;
    float: left;
}

/*Menu*/
.menu{
    float: right;
    background: black;
    color: white;
}

.menu li, a{
    background: black;
    color: white;
    text-decoration: none;
    padding: 10px;
}

.menu > li{
    display: inline-block;
    padding: 5px;
    margin-right: 65px;
    position: relative;
    height: 30px;
    
}

.menu > li:hover ul {
    display: block;
    
}

.submenu{
    display: none;
    position: absolute;
    left: 0;
    top: 30px;  
}

.arrow{
    height: 0;
    width: 0;
    border-top: 10px solid transparent;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid black;
    margin: 0 auto;
    
}

/*________________ *Hgroup* _________________*/

/*Slider*/
.slider-container{
    height: 450px;
    margin: 0 auto;
    background: rgba(255,255,255,1);

    background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(245,245,245,1) 47%, rgba(207,205,207,1) 100%);

    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(47%, rgba(245,245,245,1)), color-stop(100%, rgba(207,205,207,1)));

    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(245,245,245,1) 47%, rgba(207,205,207,1) 100%);

    background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(245,245,245,1) 47%, rgba(207,205,207,1) 100%);

    background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(245,245,245,1) 47%, rgba(207,205,207,1) 100%);

    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(245,245,245,1) 47%, rgba(207,205,207,1) 100%);

    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#cfcdcf', GradientType=0 );
}

.back-button, .forward-button{
    color: lightseagreen;
    font-size: 75px;
}

#slider-title{
    font-size: 45px;
}

.slider-button{
    color: white;
    font-size: 23px;
    text-align: center;
    line-height: 60px;
    background: lightseagreen;
    width: 300px;
    height: 60px;
    border-radius: 15px;
}
.back-button-cont, .forward-button-cont, .slider-img-cont, .slider-text-cont{
    float: left;
    height: 450px;
}

.back-button-cont, .forward-button-cont{
    width: 10%;    
}

.slider-img-cont{
    width: 35%; 
}

.slider-text-cont{
    width: 45%;
}

.back-button, .forward-button{
    display: inline-block;
    margin-top: 177px;    
}

.back-button{
        margin-left: 68%;
}

.chair-img{
    margin-top: 20%;
}

#slider-title, #slider-text, .slider-button{
    margin: 0 auto;
    text-align: center;
}

#slider-title{
    margin-top: 70px;
}

#slider-text{
    padding: 0 45px ;
    margin-top: 40px;
}

.slider-button{
    margin-top: 30px;
}


/*________________ *Section Box* _________________*/


/*Box & Text block*/
.box-container{
    height: 350px;
}

.box1{
    background-image: url(../images/box1_img.jpg);
    margin-left: 55px;
}

.box2{
    background-image: url(../images/box2_img.jpg);
    margin-left: 40px;
}
.box1, .box2{
    display: inline-block;
    width: 329px;
    height: 225px;
    background-repeat: no-repeat;
    position: relative;
    float: left;
    margin-top: 30px;
}
    

.box3{
    padding: 20px;
    position: relative;
    float: left;
    width: 30%;
    height: 250px;
    border: 2px solid #bfc0c1;
    border-radius: 3px;
    margin-top: 30px;
    margin-left: 40px;
}

.white-stripe{
    width: 100%;
    height: 65px;
    position: absolute;
    top: 140px;
    background: rgba(255, 255, 255, .5);
}

.green-stripe{
    width: 150px;
    height: 8px;
    background: #20B2AA;
    position: absolute;
    top: 170px;
    margin-left: 10px;
}

.chair-text{
    padding-left: 10px;
    font-weight: bolder;
    position: absolute;
    top: 150px;
}

.green-stripe-text{
    width: 150px;
    height: 8px;
    background: #20B2AA;
    position: absolute;
    top: 40px;
}

.box3-h2{
    font-weight: bolder;
    top: 20px;
}

.p-box3{
    position: absolute;
    top: 70px;
}


/*________________ *Section Price* _________________*/

/*Prices block*/

.price-container {
    
    position: relative;
    padding-top: 3.5%;
    height: 700px;
    background: #f2f2f2;
}

.price-box {
    padding-top: 6%;
    width: 1240px;
    margin: 0 auto;
}

.price-h2 {
    position: absolute;
    left: 10%;
    color: dimgray;
    font-size: 20px;
}

.green-stripe-price{
    width: 310px;
    height: 8px;
    background: #20B2AA;
    position: absolute;
    top: 30px;
}

.price {
    float: left;
    position: relative;
    width: 330px;
    height: 500px;
    text-align: center;
    border-radius: 3px;
    margin: 20px 0px 30px 0;
}

.price-grey {
    background-color: #f9f9f9;
    border: 2px solid lightgrey;
}

.price-grey .price-btn {
    color: white;
}

.circle {
    width: 53px;
    height: 53px;
    position: absolute;
    top: -35px;
    right: 0;
    left: 0;
    margin: 0 auto;
    background-color: white;
    box-sizing: padding-box;
    border: 2px solid lightgrey;
    border-radius: 100%;
}

.circle-in {
    width: 25px;
    height: 25px;
    top: -22px;
    background: lightgrey;
    border: 1px solid white;
}

.price-middle .circle-out {
    background-color: #20B2AA;
    border-color: #20B2AA;
}

.price-middle .circle-in {
    background-color: white;
    border-color: #20B2AA;
}

.price-title {
    font-size: 24px;
    margin: 31px auto;
}

.price-middle{
    color: white;
}

.price-circle {
    width: 129px;
    height: 129px;
    border: 2px solid lightgrey;
    border-radius: 100%;
    background-color: white;
    color: lightgray;
    font-weight: bold;
    margin: 0 auto;
}

.price-middle .price-circle {
    color: #20B2AA;
}

.price-amount {
    font-size: 40px;
    margin-top: 28px;
}

.price-per-mth {
    font-size: 15px;
    margin-top: 10px;
}

.price-middle .price-circle {
    border-color: #20B2AA;
}

.price-list {
    list-style: none;
    color: dimgray;
    margin-top: 35px;
}

.price-list li {
    display: inline-block;
    width: 100%;
    height: 2em;
    font-size: 20px;
    padding: 0.5em 0;
}

.price-list li:nth-of-type(odd) {
    background-color: #e4e4e4;
}

.price-list li:nth-of-type(even) {
    background-color: #f1f1f1;
}

.price-middle .price-list li:nth-of-type(odd) {
    background-color: white;
}

.price-btn {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    margin: 19px 105px;
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
    padding: 8px 26px;
    border-radius: 10px;
}

.price-middle .price-btn {
    background-color: white;
}

.price-middle {
    background: #20B2AA;
    border: 2px solid #20B2AA;
    margin-left: 9%;
    margin-right: 9%;
}

/*________________ *Section Contact* _________________*/
/*Contact*/
.contact {
    height: 560px;
}

.red-chair {
    float: right;
    position: relative;
    left: -50px;
    width: 264px;
    height: 210px;
    margin: 65px 79px 0 79px;
    background-image: url(../images/red_chair.png);
}

.contact-h2 {
    position: absolute;
    top: 30px;
    color: dimgray;
    font-size: 20px;
}

.green-stripe-contact{
    width: 310px;
    height: 8px;
    background: #20B2AA;
    position: absolute;
    top: 30px;
}

input[type='text'], textarea {
    font-family: 'ralewayregular', Arial, sans-serif;
    float: left;
    position: relative;
    top: 110px;
    width: 722px;
    border: 1px solid #25cec5;
    font-size: 28px;
    color: grey;
    padding: 0.5em;
}

input::-webkit-input-placeholder { color: lightgray; }
input::-moz-placeholder { color: lightgray; }
input:-ms-input-placeholder { color: lightgray; }
textarea::-webkit-input-placeholder { color: lightgray; }
textarea::-moz-placeholder { color: lightgray; }
textarea:-ms-input-placeholder { color: lightgray; }

input[type='text'] {
    height: 60px;
    margin-bottom: 26px;
}

.check-container {
    height: 50px;
    width: 50px;
    border: 1px solid #25cec5;
    border-radius: 5px;
    position: absolute;
    right: 390px;
    top: 320px;
}

.check-img{
    margin-top: 5px;
}

.agree-text {
    float: right;
    position: relative;
    top: 30px;
    right: 70px;
    font-size: 20px;
    color: grey;
    line-height: 1.5em;
    margin: 13px 20px;
    
}

input[type='submit'] {
    float: right;
    width: 343px;
    height: 2.5em;
    font-size: 30px;
    color: white;
    border: none;
    border-radius: 10px;
    margin: 140px -235px;
}

/*________________ *Footer* _________________*/
.footer {
    height: 80px;
}

.copyright {
    float: left;
    font-size: 16px;
    color: grey;
    margin-top: 20px;
}

.footer-social, .footer-logo {
    float: right;
}

.footer-social li {
    list-style: none;
    display: inline-block;
    height: 35px;
    width: 35px;
    margin: 1px;
}

.footer-logo {
    position: relative;
    left: 60px;
    top: -5px;
    font-size: 21px;
    color: grey;
    margin: 19px 0 0 10px;
}

